$theme-light: #a5d4ad;
$theme-dark: #86c591;

body {
  margin: 0;
  padding: 0;

  font-family: "Unhinted Rounded M+ 1p", "Rounded M+ 1p", sans-serif;
  html.light & {
    background: #ffffff;
  }
  html.dark & {
    background: #1f1f1f;
  }
}
#app {
  min-height: 100vh;
}
